body {
    padding: 50px;
    background-color: blue;
    font-family: sans-serif;
  }
  #container {
    display: flex;
    justify-content: center;
  }

  .todoListMain {
      background-color: red;
      width: 40em;
  }

  .header {
      background: chartreuse;
      width: 20em;
  }

  form {
      width: 40em;
  }

  input { 
      background: yellow;
      margin: 1em;
      padding: 1em;
      font-family: monospace; 
  }

  button { 
      font-family: monospace;
      width: 8em;
      color: blue;
      background: pink;
  }



